/* Base */

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

/* blog */

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

/* Profile */

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

/* Subject & User Common profile */

.com-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    background: #fff;
}

.com-profile-img {
    text-align: center;
}

.com-profile-img img {
    width: 80%;
    height: 100%;
}

.com-profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 80%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.com-profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.com-profile-head h5 {
    color: #444444;
}

.com-profile-head h6 {
    color: #0062cc;
}

.com-profile-follow-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
}

.com-proile-rating {
    font-size: 12px;
    color: #818182;
}

.com-proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.bg-gradient {
    background-color: #00d2ff;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
    box-shadow: 2px 2px 10px rgba(57, 123, 213, 0.36)
}

/* User Profile */

.profile-work {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-bottom: -1%;
}

.profile-work span {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

/* comment */

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}