{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded account-img" src="{{user.profile.profile_pic.url}}">
        <div class="media-body">
            <h2 class="account-heading">u/{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
            <small class="text-success">(we respect your privacy, email is just required for account recovery)</small>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit | <a class="text-info" href="{% url 'user-profile' user.username %}"> Back to Profile</a></legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock content %}